<div class="row container-fluid">
    <div class="col-sm-3 col-md-2 col-lg-2 profile-sidebar">
        <ul class="nav nav-sidebar nav-pills nav-stacked">
            <li><a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span>  Profile</a></li>
            <li class="active"><a href=""><span class="glyphicon glyphicon-calendar"></span> Attending</a></li>
            <li><a href="#/user/{{model.userId}}/following"><span class="glyphicon glyphicon-music"></span>  Following</a></li>
            <li><a href="#/user/{{model.userId}}/friends"><span class="glyphicon glyphicon-music"></span>  Friends</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-md-10 col-lg-10">
        <h1>Attending</h1>
        <div>
            <section ng-repeat="attending in model.attendings" class="col-xs-12 col-sm-6 col-md-12">
                <article class="search-result row">
                    <div>
                        <a href="#/user/{{model.userId}}/event/{{attending.eid}}">
                            <h3>{{attending.eventName}}</h3>
                        </a>
                    </div>
                    <span class="clearfix borda"></span>
                </article>
            </section>
        </div>
    </div>
</div>


