<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h1>Login</h1>
    <form>
        <div  class="form-group">
            <input ng-model = "username" required type="text" class="form-control" id="username" placeholder="username" value="rachana">
        </div>
        <div  class="form-group">
            <input ng-model = "password" required type="password" class="form-control" id="password" placeholder="password" value="12345">
        </div>
    </form>

    <a href="/auth/google" class="btn btn-success btn-block">
        <span class="fa fa-google"></span>
        Google
    </a>

    <a ng-click="model.login(username, password)">
        <button type="submit" class="btn btn-primary">Login</button>
    </a>
    <a href="#/landing">
        <button type="submit" class="btn btn-danger">Cancel</button>
    </a>

</div>
