<div class="col-sm-9 col-md-10 col-lg-10">
    <img class="img-responsive profile-head" src="./images/user-head.png">
    <h4 class="center">
        Username: {{model.viewUser.username}}
    </h4>
</div>


<div class="col-sm-9 col-md-10 col-lg-10 center">
    <h1>Attending</h1>
    <div>
        <section ng-repeat="attending in model.attendings" class="col-xs-12 col-sm-6 col-md-12">
            <article class="search-result row">
                <div>
                    <a href="#/user/{{model.user._id}}/event/{{attending.eid}}">
                        <h3>{{attending.eventName}}</h3>
                    </a>
                </div>
                <span class="clearfix borda"></span>
            </article>
        </section>
    </div>
</div>


<div class="col-sm-9 col-md-10 col-lg-10 center">
    <h1>Following</h1>
    <div>
        <section ng-repeat="following in model.followings" class="col-xs-12 col-sm-6 col-md-12">
            <article class="search-result row">
                <div>
                    <a href="#/user/{{model.user._id}}/artist/{{following.artistName}}">
                        <h3>{{following.artistName}}</h3>
                    </a>
                </div>
                <span class="clearfix borda"></span>
            </article>
        </section>
    </div>
</div>
