<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">New Website
        <a href="#/user/{{model.userId}}/website">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        <a ng-show="!model.added" ng-click="model.createWebsite()">
            <span class="glyphicon glyphicon-ok pull-right list-button"></span>
        </a>
    </h3>
</nav>

<div class="container container-bottom">
<form>
    <div class="form-group">
        <label for="inputname">Name</label>
        <input ng-model= "model.website.name" type="text" class="form-control" id="inputname" placeholder="Name" value="WebsiteName">
    </div>
    <div class="form-group">
        <label for="inputdescr">Description</label>
        <textarea ng-model = "model.website.description" class="form-control" rows="5" id="inputdescr" placeholder="Description"></textarea>
    </div>
    </form>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right center list-button"></span>
        </a>
    </nav>
</div>
