<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">Websites
        <a href="#/user/{{model.userId}}/website/new">
        <span class="glyphicon glyphicon-plus pull-right list-button"></span>
        </a>
    </h3>

</nav>


<div class="container container-bottom">
    <ul class="list-group special">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{website._user}}/website/{{website._id}}/page">{{website.name}}</a>
            <a href="#/user/{{website._user}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <a href="#/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right list-button center"></span>
    </a>
</nav>
