h3.heading {
    margin-left: 20px;
}
h4.heading {
    margin-left: 20px;
}

h1.heading {
    margin-left:20px;
}

.widget-button {
    padding: 5px;
}

.container-bottom {
    margin-bottom: 75px;
}

.center {
    margin-top: 15px;

}

.button-right {
    padding-right: 60px;
}


.navbar {
    color: dimgray;
    background-color: #e7e7e7;
    padding-bottom: 10px;
}

body {
    padding-top: 75px;
    height: 100%
}

.list-button {
    margin-right: 15px;
}
.pull-left {
    margin-right: 20px;
}

.bottom-left {
    margin-left: 20px;
}

.btn {
    width:100%;
    margin-bottom: 10px;
    border-radius: 20px;
;
}

.header {
    background-color: #e7e7e7;
    margin-top: 0px;
}

.glyphicon-user {
    color: dodgerblue;
}


.list-group.special .list-group-item {
    border-width:0px;
}

.rd-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.9;
}

.rd-widget {
    padding-bottom: 5px;
}

a {
 text-decoration: none !important
}

.btn {
    border: none;
}

.btn-primary {
    background-color: lightseagreen;
}

.btn-primary:hover {
    background-color: darkcyan;
}

.btn-danger {
    background-color: lightcoral;
}

.btn-success {
    background-color: darkseagreen;
}

:required {
    box-shadow: 0  0 5px rgba(255,0,0,0.5);
}

.input-group{
    margin-left: 5px;
}

.btn-primary {
    margin-top: 5px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.flickr {
    margin: 0px;
    padding:0px;
}