
<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">New Page
        <a href="page-list.view.client.html">
            <span class="glyphicon glyphicon-ok pull-right list-button"></span>
        </a>
        <a href="page-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
    </h3>

</nav>

<div class="container container-bottom">
<form>
    <div class="form-group">
        <label for="inputname">Name</label>
        <input type="text" class="form-control" id="inputname" placeholder="Name" value="Page Name">
    </div>
    <div class="form-group">
        <label for="inputdescr">Title</label>
        <input class="form-control" rows="5" id="inputdescr" placeholder="Title" value="Page Title">
    </div>
</form>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="../views/user/profile.view.html">
            <span class="glyphicon glyphicon-user pull-right center list-button"></span>
        </a>
    </nav>

</div>
