
<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">New Page
        <a ng-click="model.createPage()" ng-show="!model.added">
            <span class="glyphicon glyphicon-ok pull-right list-button"></span>
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
    </h3>

</nav>

<div class="container container-bottom">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

<form>
    <div class="form-group">
        <label for="inputname">Name</label>
        <input ng-model="model.page.name" required type="text" class="form-control" id="inputname" placeholder="Name" value="Page Name">
    </div>
    <div class="form-group">
        <label for="inputdescr">Title</label>
        <input ng-model="model.page.title" class="form-control" rows="5" id="inputdescr" placeholder="Title" value="Page Title">
    </div>
</form>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right center list-button"></span>
        </a>
    </nav>

</div>
