
<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">Pages
        <a href="page-new.view.client.html">
            <span class="glyphicon glyphicon-plus pull-right list-button"></span>
        </a>
        <a href="../website/website-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
    </h3>

</nav>

<div class="container container-bottom">
    <ul class="list-group special">
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Blog Post</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Blogs</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Home</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">About</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Contact Us</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <a href="../views/user/profile.view.html">
        <span class="glyphicon glyphicon-user pull-right center list-button"></span>
    </a>
</div>
