<div class="col-sm-12 col-md-12 col-lg-12">
    <img class="img-responsive profile-head" src="./images/user-head.png">
    <h4 class="center">
        Username: {{model.viewUser.username}}
    </h4>
    <p ng-show="model.isAdded" class="center"><i>Friends with you</i></p>
</div>

<div ng-show="!model.sameUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button ng-show="!model.isAdded" ng-click ="model.addFriend()" type="submit" class="btn btn-primary friend-button center">
        <span class="gyliphicon glyphicon-plus"></span>
        Add as Friend
    </button>
    <button ng-show="model.isAdded" ng-click ="model.unFriend()" type="submit" class="btn btn-primary friend-button center">
        <span class="gyliphicon glyphicon-minus"></span>
        Unfriend
    </button>
</div>
<div class="clearfix"></div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 center">
    <h1>Attending</h1>
    <div>
        <section ng-repeat="attending in model.attendings" class="col-xs-12 col-sm-12 col-md-12">
            <article class="search-result row attending-detail-friend">
                <div>
                    <a href="#/user/{{model.user._id}}/event/{{attending.eid}}">
                        <h5>{{attending.eventName}}</h5>
                    </a>
                </div>
                <span class="clearfix borda"></span>
            </article>
        </section>
    </div>
</div>
</div>


<div class="col-sm-12 col-md-12 col-lg-12 center">
    <h1>Following</h1>
    <div>
        <section ng-repeat="following in model.followings" class="col-xs-12 col-sm-12 col-md-12">
            <article class="search-result row">
                <div>
                    <a href="#/user/{{model.user._id}}/artist/{{following.artistName}}">
                        <h3 class="following-detail-friend">{{following.artistName}}</h3>
                    </a>
                </div>
                <span class="clearfix borda"></span>
            </article>
        </section>
    </div>
</div>



