<nav class="navbar navbar-default navbar-fixed-top z-depth-0">
            <h3 class="heading">Profile
                <a ng-click= "model.updateUser()">
                <span class="glyphicon glyphicon-ok pull-right list-button"></span>
                </a>
            </h3>
</nav>

<div class="container container-bottom">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" required type="text" class="form-control" id="username" value="rachana">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email" value="deshmukh.r@husky.neu.edu">
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input ng-model="model.user.firstName" required type="text" class="form-control" id="firstname" value="Rachana">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input ng-model="model.user.lastName" required type="text" class="form-control" id="lastname" value="Deshmukh">
        </div>
    </form>

        <a href="#/user/{{model.userId}}/website">
            <button type="submit" class="btn btn-primary">Applications</button>
        </a>
        <a ng-click="model.unregister()">
            <button type="submit" class="btn btn-danger red accent-1">Unregister</button>
        </a>
        <a ng-click="model.logout()">
            <button type="submit" class="btn btn-danger red accent-1">Logout</button>
        </a>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right list-button center"></span>
        </a>
    </nav>
