<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">Widget Edit
        <a href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
        <a href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-ok pull-right list-button"></span>
        </a>
    </h3>

</nav>

<div class="container container-bottom">
<form>
    <div class="form-group">
        <label for="widgetname">Name</label>
        <input type="text" class="form-control" id="widgetname" placeholder="Name" value="YouTube Name">
    </div>
    <div class="form-group">
        <label for="widgettext">Text</label>
        <input type="text" class="form-control" id="widgettext" placeholder="Text" value="YouTube Text">
    </div>
    <div class="form-group">
        <label for="widgeturl">URL</label>
        <input type="url" class="form-control" id="widgeturl" placeholder="URL">
    </div>
    <div class="form-group">
        <label for="widgetwidth">Width</label>
        <input type="text" class="form-control" id="widgetwidth" placeholder="%" value="100%">
    </div>
    </form>

    <a href="widget-list.view.client.html">
        <button type="submit" class="btn btn-danger">Delete</button>
    </a>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <a href="../views/user/profile.view.html">
        <span class="glyphicon glyphicon-user pull-right center list-button"></span>
            </a>
    </div>

</div>
