<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">Widgets
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
            <span class="glyphicon glyphicon-plus pull-right list-button"></span>
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
    </h3>
</nav>


<div class="container container-bottom" id="sortable">

    <wam-directive sorted="model.sorted(start, end)"
                  data="model.widgets">

    <div ng-repeat="widget in model.widgets | orderBy : 'order'">
        <div class="rd-widget-tool">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
            <div ng-switch="widget.type" class="rd-widget">
                <div ng-switch-when="HEADER">
                     <div ng-switch="widget.size">
                        <h1 ng-switch-when="1">{{widget.text}}</h1>
                        <h2 ng-switch-when="2">{{widget.text}}</h2>
                        <h3 ng-switch-when="3">{{widget.text}}</h3>
                        <h4 ng-switch-when="4">{{widget.text}}</h4>
                        <h5 ng-switch-when="5">{{widget.text}}</h5>
                        <h6 ng-switch-when="6">{{widget.text}}</h6>
                     </div>
                </div>
                <div ng-switch-when="IMAGE">
                    <img width={{widget.width}}% ng-src="{{widget.url}}">
                </div>
                <div ng-switch-when="YOUTUBE" class="youtube-widget">
                    <iframe width="{{widget.width}}" ng-src="{{model.embeddedUrl(widget.url)}}" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
                <div ng-switch-when="HTML">
                    <div ng-bind-html="model.getHtml(widget.text)"></div>
                </div>
                <div ng-switch-when="TEXT">
                    <div ng-model="widget.placeholder" ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]"></div>
                    <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                           placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
                <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                          rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                          class="form-control">{{widget.text}}</textarea>
                </div>
             </div>
    </div>
    </wam-directive>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <a href="#/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right list-button center"></span>
    </a>
    <span class="glyphicon glyphicon-play pull-left center bottom-left"></span>
    <span class="glyphicon glyphicon-eye-open pull-left center"></span>
</nav>
