
<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">Choose Widget
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
    </h3>

</nav>

<div class="container container-bottom">
    <ul class="list-group special">
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('HEADER')">Header</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('LABEL')">Label</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('HTML')">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('TEXT')">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('LINK')">Link</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('BUTTON')">Button</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('YOUTUBE')">YouTube</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('DATA TABLE')">Data Table</a>
        </li>
        <li class="list-group-item">
            <a href="" ng-click="model.addWidget('REPEATER')">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <a href="../views/user/profile.view.html">
        <span class="glyphicon glyphicon-user pull-right center list-button"></span>
    </a>
</nav>
