<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">Search Flickr
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
    </h3>
</nav>

<div class="input-group">
    <input ng-model="searchText" type="text" class="form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button ng-click="model.searchPhotos(searchText)" class="btn btn-info" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
</div>

<div class="row">
    <div class="col-xs-4 flickr" ng-repeat="photo in model.photos.photo">
        <img ng-click="model.selectPhoto(photo)" width="100%"
             ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <a href="#/user/{{model.userId}}">
        <span class="glyphicon glyphicon-user pull-right center list-button"></span>
    </a>
</nav>