<div class="container container-bottom">
<form>
    <div class="form-group">
        <label for="widgetname">Name</label>
        <input ng-model= "model.widget.name" required type="text" class="form-control" id="widgetname" placeholder="Name" value="YouTube Name">
    </div>
    <div class="form-group">
        <label for="widgettext">Text</label>
        <input ng-model= "model.widget.text" required type="text" class="form-control" id="widgettext" placeholder="Text" value="YouTube Text">
    </div>
    <div class="form-group">
        <label for="widgeturl">URL</label>
        <input ng-model= "model.widget.url" required type="url" class="form-control" id="widgeturl" placeholder="URL">
    </div>
    <div class="form-group">
        <label for="widgetwidth">Width (Enter Number)</label>
        <input ng-model= "model.widget.width" required type="text" class="form-control" id="widgetwidth" placeholder="%" value="100%">
    </div>
    </form>

    <a>
        <button ng-click="deleteWidget()" type="submit" class="btn btn-danger">Delete</button>
    </a>
</div>
