
<nav class="navbar navbar-default navbar-fixed-top">
    <h3 class="heading">Choose Widget
        <a href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>
    </h3>

</nav>

<div class="container container-bottom">
    <ul class="list-group special">
        <li class="list-group-item">
            <a href="widget-heading.view.client.html">Header</a>
        </li>
        <li class="list-group-item">
            <a href="#">Label</a>
        </li>
        <li class="list-group-item">
            <a href="#">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="#">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="#">Link</a>
        </li>
        <li class="list-group-item">
            <a href="#">Button</a>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.client.html">
                <a href="#">Image</a>
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html">YouTube</a>
        </li>
        <li class="list-group-item">
            <a href="#">Data Table</a>
        </li>
        <li class="list-group-item">
            <a href="#">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <a href="../views/user/profile.view.html">
        <span class="glyphicon glyphicon-user pull-right center list-button"></span>
    </a>
</nav>
