<div class="container container-bottom">
    <form>
        <div class="form-group">
            <label for="widgetname">Name</label>
            <input ng-model = "model.widget.name" required type="text" class="form-control" id="widgetname" placeholder="Name" value="WidgetName">
        </div>
        <div class="form-group">
            <label for="widgettext">Text</label>
            <input ng-model="model.widget.text" required type="text" class="form-control" id="widgettext" placeholder="Text" value="WidgetText">
        </div>
        <div class="form-group">
            <label for="widgetrows">Rows</label>
            <input ng-model="model.widget.rows" required type="number" class="form-control" id="widgetrows" placeholder="Rows">
        </div>
        <div class="form-group">
            <label for="widgetplaceholder">Placeholder</label>
            <input ng-model="model.widget.placeholder" required type="text" class="form-control" id="widgetplaceholder" placeholder="Placeholder">
        </div>
        <div class="form-group">
            <input ng-model="model.widget.formatted" required type="checkbox" class="form-control" id="widgetformatted"">
        </div>
    </form>

    <a >
        <button ng-click="model.deleteWidget()" type="submit" class="btn btn-danger">Delete</button>
    </a>

    <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
           placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
    <textarea ng-if="!widget.formatted && (widget.rows > 1)"
              rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
              class="form-control">{{widget.text}}</textarea>



</div>