<div class="container container-bottom">
<form>
    <div class="form-group">
        <label for="widgetname">Name</label>
        <input ng-model = "model.widget.name" required type="text" class="form-control" id="widgetname" placeholder="Name" value="WidgetName">
    </div>

</form>

    <div text-angular ng-model="model.widget.text"
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]"></div>

    <a ng-click="model.deleteWidget()">
        <button ng-click="model.deleteWidget()" type="submit" class="btn btn-danger">Delete</button>
    </a>

</div>

