<div class="container">

    <h1 class="center">SEARCH</h1>
    <h4 class="center">Start searching for live upcoming events!</h4>
    <br>

    <div class="col-lg-6 col-md-6 col-sm-6 center">
        <a ng-click="model.gotoArtistSearch()">
            <button class="center-block btn btn-primary search-button">Search By Artist</button>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 center">
        <a ng-click="model.gotoVenueSearch()">
            <button class="center-block btn btn-primary search-button">Search By Venue</button>
        </a>
    </div>
</div>









