<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<div class="container">
            <h3>{{model.concert.displayName}}</h3>
            <a href="#/user/{{model.userId}}/artist/{{model.concert.performance[0].artist.displayName}}"><h3>{{model.concert.performance[0].artist.displayName}}</h3></a>
            <img src= "{{model.artistImage}}" class="img-responsive">
            <a ng-click="model.attendEvent()"><h2>Attending</h2></a>

            <div class="detailBox">
                <div class="titleBox">
                    <label>Comments</label>
                </div>
                <div class="actionBox">
                    <ul class="commentList" ng-repeat="comment in model.comments">
                        <li>
                            <div class="commenterImage">
                                <a href="#/user/{{model.userId}}/view/{{comment.userId}}">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </div>
                            <div class="commentText">
                                <p class="">{{comment.comment}}</p> <span class="date sub-text">{{comment.datePosted}} by {{comment.username}}</span>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline" role="form" ng-show="model.premium">
                        <div class="form-group">
                            <input ng-model="model.commentInput" class="form-control" type="text" placeholder="Your comments" />
                        </div>
                        <div class="form-group">
                            <button ng-click = "model.addComment()" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="detailBox">
                <div class="titleBox">
                    <label>Attending</label>
                </div>
                <div class="actionBox">
                    <ul class="commentList" ng-repeat="attend in model.attendings">
                        <li>
                            <div class="commenterImage">
                                <a href="#/user/{{model.userId}}/view/{{attend.uid}}">
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </div>
                            <div class="commentText">
                                <p class="">{{attend.username}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="clearfix borda"></span>





